.cuerpo{
  background-color: rgb(255, 255, 255);
}

.menu-principal{
  background-color: rgb(255, 3, 192);
  border-radius: 10px;
  /*width: 100px;*/
  height: 40px;
  padding-top: 0.7%;
}

#up{
  top :0.9%;
  position: sticky;
}

.menu-principal li{
  display: inline-block;
}

.menu-principal a{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 5px;
  text-decoration: none;
  border-radius: 10%;
}

.menu-principal__item a:hover{
  color: rgb(255, 255, 255);
  background-color: black; 
}

.bienvenida{
  background-image: url(../imagenes/tag2.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100% 90%;
  height:  400px;
  border-radius: 20px;
  border: 3px solid cyan;
  margin: 2px;
}

.nosub{
  text-decoration: none;
  margin: 0.2%;
}

#solitariopack{
  background-image: url(../imagenes/viajesolo.png);
}
#parejapack{
  background-image: url(../imagenes/pareja.png);
}

#familiarpack{
  background-image: url(../imagenes/familiar.png);
}

#animalespack{
  background-image: url(../imagenes/animales.jpg);
}
#naturalezapack{
  background-image: url(../imagenes/naturaleza.jpg);
}

#extremopack{
  background-image: url(../imagenes/extremo.jpg);
}

#deportepack{
  background-image: url(../imagenes/deporte.jpg);
}
#relajarsepack{
  background-image: url(../imagenes/relajarse.jpg);
}

#estudiantilpack{
  background-image: url(../imagenes/estudiantil.jpg);
}

#gastronomicopack{
  background-image: url(../imagenes/gastronomico.jpg);
}
#culturalpack{
  background-image: url(../imagenes/cultural.png);
}

#tourpack{
  background-image: url(../imagenes/tour.png);
}



.tituloprincipal {
text-align: center;
color: rgb(255, 255, 255);
margin-left: auto;
margin-right: auto;
font-family: 'Miami',sans-serif;
background-color: rgb(255, 0, 255);
border-radius: 10px;
margin-top: -1px;
}

.contenedorpacks {
/*border: 2px solid black;*/
    border-radius: 0.9%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    /*justify-content: center;*/
    /* background-image: url(imagenes/kono.jpg);*/
  }


  
  .pack {
    /*display: flex;*/
    height:300px;
    width: 300px;
    font-family: 'Engender Mod';
    font-size: 20px;
    color: azure;
    text-align: center;
    border-radius: 10%;
    border: 3px solid;
    border-color: rgb(0, 255, 149);
    margin: 0.2%;
    /*background-image: url("/ProyectoIntegradorIV/imagenes/viajesolo.png");
    background-size:100%;*/
    
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
  }

  .packcompra{
    height:300px;
    width: 300px;
    font-family: 'Engender Mod';
    font-size: 15px;
    color: azure;
    text-align: center;
    border-radius: 10%;
    border: 3px solid;
    border-color:rgb(0, 255, 149);
    margin: 0.2%;
     background: linear-gradient(to top,rgb(113, 4, 128), rgb(19, 1, 75)) ;;
  }

  .puntos{
    background-color: rgb(38, 0, 105);
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    border-radius: 50px;
  }


  #individual{
    background-image: url(../imagenes/viajesolo.png);
  }

  #pareja{
    background-image: url(../imagenes/pareja.png);
  }

  #familiar{
    background-image: url(../imagenes/familiar.png);
  }

  #tour{
    background-image: url(../imagenes/tour.png);
  }

  #cultural{
    background-image: url(../imagenes/cultural.png);
  }

  #gastronomico{
    background-image: url(../imagenes/gastronomico.jpg);
  
  }

  #estudiantil{
    background-image: url(../imagenes/estudiantil.jpg);
    
  }

  #relajarse{
    background-image: url(../imagenes/relajarse.jpg);
  }

  #deporte{
    background-image: url(../imagenes/deporte.jpg);
  }

  #extremo{
    background-image: url(../imagenes/extremo.jpg);
  }

  #naturaleza{
    background-image: url(../imagenes/naturaleza.jpg);
  }

  #animales{
    background-image: url(../imagenes/animales.jpg);
  }

  .pack:hover,.packcompra:hover{
    /*background-color: rgb(102, 255, 0);*/
    height:300px;
    width: 300px;
    font-family: 'Engender Mod';
    
    /*color: azure;*/
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10%;
    border-color: red;
  }

#paquetecontenedor{
  /*vacio*/
  color: antiquewhite;
}

.pack p{
  color: rgb(189, 3, 213);
  border-radius: 50px;
  margin-top: 10px;
  background-color: rgb(0, 255, 145);
  /*opacity: 0.6;*/
}
.selectores{
    margin-top: 20px;
    border-radius: 10px;
    background-color:  rgb(255, 255, 255);
    padding: 5px;
    text-align: start;
}

.login{
    text-align: center;
    border-radius: 10px;
    padding: 3px;
    background-image: url(../imagenes/ingreso.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200%;
}

.formulario{
  background-color: rgb(0, 0, 0);
  background: linear-gradient(to top,red, yellow) ;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
}

.botones{
  /*background-color: black;*/
  background-image: url(../imagenes/ingreso.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.botones:hover{
  border: 3px dashed rgb(14, 255, 58) ;
}

.botonesimple{
  color: bisque;
  background-color: rgb(0, 13, 67);
  cursor: pointer;
}

.packacerca{
    border-radius: 0.9%;
    display: flex;
    justify-content: space-around;
    /*justify-content: center;*/
    /* background-image: url(imagenes/kono.jpg);*/
}

.texto{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 235, 20);
  border-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.textoilegible{
  color:dimgrey;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.textoizquierda{
  text-align: left;
}

.imageicono{
  height: 50px;
  width: 50px;
}